.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Poppins';
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
navbar{
  width:100%;
}
.nav-item-mid{
  color:white;
  padding: 10px;
  font-family: 'Poppins';
  font-weight: 100;
  cursor: pointer;
}
.nav-item-end{
  
  float: right;
}
.navbar-nav{
  width: 100%;
  overflow: hidden;
}
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.connectbtn{
  font-size: 12px;
}
.platformcard{
  width: 70%;
  

  margin-left: 15%;
  background-color: #f3f6fa;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 10px;
  
        
  
  

}
.chatsearch{
  padding:8px;
  
}
.searchbox{
  width: 100%;
}
.form-control{
 width:100%;
 margin-left: -5%;
  
}
.userlist{
  border:0.2px solid #babdc2;
}
.chatbox{
  
  border:0.2px solid #babdc2;
  height: calc(90vh);
}
/* .chatbox{
  margin-top: 20px;
} */
.usercard{
  
 border-bottom: 0.2px solid #babdc2;
 
  padding: 10px;
}
.iZzUdc{
  width: 100%;
}
.name{
  text-align: left;
  width: 100%;
  position: relative;
  top:20%;
}
.friendcard{
  width: 70%;
  

  margin-left: 15%;
  background-color: #f3f6fa;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 10px;
  
        
}
 .connecthead{
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 10%;
 }
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.container{
  

  
 }
 .dashboard{
   padding: 30px;
 }
 .sideboard{
   padding:30px;
 }
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}



 .messages{
   padding-bottom: 15px;
   padding-top:15px;
   text-align: center;
   background-color: #8cb3d9;
   width: 100%;
 }
 .add{
   text-align: center;
 }
 .update{
   text-align:center;
 }
 .delete{
   text-align:center;
 }
 .h-20{
   height: 50px;
 }
.head{
  padding: 10px;
  padding-left: 30px;
}
.log{
  padding-top: 10px;
}
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.upcoming::-webkit-scrollbar {
  width: 0.5em;
}
 
/* .upcoming::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
  
.textwrap{
  width: 100%;
  height:fit-content;
  cursor: pointer;
}
.upcoming::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.card{                   
  width: 90%;
  padding: 10px;
  height: max-content;
  margin-bottom: 10px;
}    
.w-btn{
align-self: flex-end;
height: 100%;
}

 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.date{ 
  font-size: 13px;
}
.time{ 
  font-size: 13px;
}

.historybox{
  padding: 10px;
  border-radius: 2px;
  font-size: 13px;
  border: 0.1px solid rgb(197, 197, 197);
  border-radius:  1px; 
  margin-bottom: 5px;
  width:90%;
}

.history::-webkit-scrollbar {
  width: 0.5em;
}
/*  
.history::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */
 
.history::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  
outline: 1px solid rgb(65, 63, 63);
}
.textarea::-webkit-scrollbar {
  width: 0.5em;
}
 
.textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.textarea::-webkit-scrollbar-thumb {
  background-color: #56585c;
  
outline: 1px solid rgb(65, 63, 63);
}
.label{
  margin-left: 1%;
}
.forminput:focus{
  outline: none;

}
.forminput{

  width: 90%;
  margin-bottom: 20px;
  margin-left: 5%;
  border:none;
  border-bottom: 1px solid grey;
  border-radius: 2px;
  padding: 2px;
  

}
.message{
  color:black;
  margin-top:6px ;
  margin-bottom: 6px;
  
  

 
}
.usermessage{
  height:90%;
}
.messagetext{
  background-color: #e3e7ec;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  max-width: 60%;
}
.messagearea{
  height: 98%;
  background-color: #343a40;
  border-radius: 5px;
  width:98%;
  overflow-y: scroll;
  margin-left: 1%;
}
.messagequeue{
  
  
}
.messagearea::-webkit-scrollbar {
  width: 0.5em;
}
 
.messagearea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.messagearea::-webkit-scrollbar-thumb {
  background-color: #56585c;
  
outline: 1px solid rgb(65, 63, 63);
}
.sendarea{
 margin-left: 4%;
 width: 96%;
  
}
.sendbox{
  width: 100%;
  height: auto;
}
.largetext{
  margin-top: 20%;
  margin-left: 5%;
  margin-bottom: 80%;
  color:#b4bdc7;
  
}
.headname{
  padding: 15px;
  font-size: larger;
}
.to{ 
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}
.formbutton{
  text-align: center;
  width: 90%;
  background-color: #343a40;
  margin-left: 5%;
  color:white;
  padding: 4px;
  border-radius: 2px;
}

.bg-front{
background-color: #282c34;
width: 100%;
top:0;
left:0;
height: 100%;

}
.textarea{
height:160px;
border: 1px solid grey;

}
.closebutton{
  cursor: pointer;
  float: right;
  
  
}
.form{

  
  padding: 30px;
  margin-top: 20px;
  top:0;
  left:0;
  background-color: white;
  border-radius: 5px;
  
}
.formhead{
  color:white;
  margin-bottom: 10px;
 
  
  
  
}
.fa-times-circle{
  color:red;
}
.fa-check-circle{
  color:green;
}
.notification-card{

  position: absolute;
  z-index: 100000;
  height:10%;
  width:20%;
  margin-top: 20px;
  box-shadow: 0 0 1rem 0 rgba(134, 131, 131, 0.2);
  background-color: rgb(233, 242, 245);
  padding: 20px;
  margin-left: 78%;
  color:white;
  border-radius: 10px;
 
  transition: all 250ms linear 2s;
}
.authbutton{
  width: 100%;
  padding: 5px;
}
.authinput{

  font-size: 15px;
  width: 100%;
  padding:  8px;

  margin-bottom: 20px;
  border-radius: 3px;
  border: none; 
  border-bottom: 1px solid grey;
  
}
.authinput:focus{
  outline: none;
}
.inputbox{

  font-size: 13px;
  width: 85%;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 1px;
  border: none; 
  border-bottom: 1px solid grey;
  
}
.inputbox:focus{
  outline: none;
}
.popupcontent{
  background-color: aliceblue;
  font-size: 7px;
  padding: 10px;
}
.btn-danger{
  padding: 4px;
  font-size: 14px;
}
.profile{
  width:35px;
  line-height: 35px;
  text-align: center;
  background-color: darkorange;
  border-radius: 50%;
  border: 1px solid aliceblue;
  cursor: pointer;
}
.upcoming{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  width: 98%;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 15px;


}
.history{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  width: 98%;
  margin-bottom: 30px;
  cursor: pointer;
 


}
