.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: 'Poppins';
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
navbar{
  width:100%;
}
.nav-item-mid{
  color:white;
  padding: 10px;
  font-family: 'Poppins';
  font-weight: 100;
}
.nav-item-end{
  
  float: right;
}
.navbar-nav{
  width: 100%;
  overflow: hidden;
}
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.container{
  
background-color: #61dafb;
  
 }
 .dashboard{
   padding: 30px;
 }
 .sideboard{
   padding:30px;
 }
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}



 .messages{
   padding-bottom: 15px;
   padding-top:15px;
   text-align: center;
   background-color: #8cb3d9;
   width: 100%;
 }
 .add{
   text-align: center;
 }
 .update{
   text-align:center;
 }
 .delete{
   text-align:center;
 }
 .h-20{
   height: 50px;
 }
.head{
  padding: 10px;
  padding-left: 30px;
}
.log{
  padding-top: 10px;
}
 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.upcoming::-webkit-scrollbar {
  width: 0.5em;
}
 
.upcoming::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
.upcoming::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.card{                   
  width: 90%;
  padding: 10px;
  height: max-content;
  margin-bottom: 10px;
}    
.w-btn{
align-self: flex-end;
height: 100%;
}


 .dailyTimeLineWrapper::-webkit-scrollbar {
  width: 0.5em;
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.dailyTimeLineWrapper::-webkit-scrollbar-thumb {
  background-color: #56585c;
  outline: 1px solid rgb(65, 63, 63);
}
.profile{
  width:35px;
  line-height: 35px;
  text-align: center;
  background-color: darkorange;
  border-radius: 50%;
  border: 1px solid aliceblue;
}
.upcoming{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 30px;


}
